h1{
  font-size: 4.8em;
  text-align: center;
}


.header{
	margin-bottom: 3.0em;
}

.header img{
	width: 100%;
}


body{
	color: #000;
	font-family: "PT Sans Narrow", 'Helvetica Neue', 'Arial', sans-serif;
}

p{
  font-size: 22px;
  margin-bottom: 1.0em;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", 'Helvetica Neue', sans-serif;
	text-transform: none;
}

#tech-specs{
  background: black;
  margin: 3.0em 0;
  padding: 2.0em 0;
}

#tech-specs h2{
  margin-bottom: 0.5em;
  text-align: left;
}

#tech-specs p{
	margin-bottom: 0em;
}