h1{
  font-size: 4.8em;
  text-align: center;
}


.header{
	margin-bottom: 3.0em;
}

.header img{
	width: 100%;
}


body{
	color: #000;
	font-family: "Gill Sans";
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Titillium Web', sans-serif;
	text-transform: none;
}

