h1{
  font-size: 4.8em;
  text-align: center;
}


.header{
	margin-bottom: 3.0em;
}

.header img{
	width: 100%;
}


body{
	color: #000;
	font-family: "PT Sans Narrow", 'Helvetica Neue', 'Arial', sans-serif;
}

p{
  font-size: 22px;
  margin-bottom: 1.0em;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", 'Helvetica Neue', sans-serif;
	text-transform: none;
}


#the-pitch{
  padding: 1.0em 0;
}

#about-me{
}

#about-me h2{
  margin-bottom: 1.0em;
  text-align: center;
  background: black;
  color: white;
  padding: 1.0em 0;
}



.imgwrap{
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.imgwrap img{
  width: 100%;
}


.story-list{
  font-family: "PT Sans Narrow", 'Helvetica Neue', sans-serif;
  font-size: 22px;
}

.story-list li{
  margin-bottom: 1.0em;
}
.story-list li a{
  font-weight: bold;
}


#my-works{
  border: thin dotted #aaa;
  padding: 1.0em 0em;
}

#my-works h3{
  text-align: center;
}

.log-line{
  font-size: 30px;
  font-style: italic;

}



footer.footer{
  margin-top: 2.0em;
  padding: 3.0em 0;
  background: gray;
}


#trailer{
  background: white;
  padding: 1.0em 0 1.0em;
}

#trailer p{
  margin-bottom: 0em;

}





@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 5px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 1em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 1px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.2em;
    }
}
